.main{
    width: 100%;

    .secTitle{
        display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        .title{
            position: relative;
            width: max-content;
            color: rgba(95, 24, 95, 0.734);
            margin: 1rem 0;
            font-size: 25px;
            z-index: 2;

            

            &::after{
                position: absolute;
                content: '';
                background: orange;
                height: 5px;
                width: 120px;
                right: 0;
                bottom: 5px;
                z-index: -1;
            }
        }
    }

    .setContent{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:1.5rem;
        
        .singleDestination{
            height:100%;
          //  width: 400px;
            display: grid;
         //   grid-template-columns: minmax(3, 1fr);
            row-gap: 10px;
        
            border-radius: 10px;
            align-items: center;
            background: white;
            box-shadow: 0 2px 4px wheat;
            overflow: hidden;
            &:hover{
                background: wheat ;
                box-shadow: 1 4px 4px wheat;
                transition: .3s ease;
            }
            .imageDiv{
                height: 200px;
                width: 100%;
                overflow: hidden;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: 2s ease;
                }

                &:hover{
                    img{
                      transition: scale(1.1);  
                    }
                }
            }

            .cardInfo{
                padding: 1rem;

                .destTitle{
                    color: black;
                    font-size: 1.25rem;
                }
                .continent{
                    gap:.5rem;

                    .icon{
                        color: rgb(81, 17, 81);
                        font-size: 18px;
                    }
                    .name{
                        color: orange;
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
                .fees{
                    width: 100%;
                    justify-content: space-between;
                    padding: 1rem;
                    margin:1rem 0;
                    border-top: 1.5px solid gray;
                    border-bottom:  1.5px solid gray;

                    .grade{
                        color: orange;
                        max-width: 100px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        small{
                            text-align: center;
                            background: rgb(83, 10, 83);
                            border-radius: 1rem;
                            color: whitesmoke;
                            padding: 3px 10px;
                            font-size: 10px;
                            margin-left: 10px;
                        }
                    }
                    .price{
                        font-size: 2rem; 
                        color: black;
                    }
                }
                .desc{
                    font-size: 13.5px;
                    color: orange;
                    font-weight: 500;
                }

                .button-2{
                    display: flex;
                    flex-direction: row;
                    gap:5px;

                .btn{
                    margin-top: 1rem;
                    color: whitesmoke;
                    font-weight: 600;
                    justify-content: space-between;
                    
                    gap:.5rem;

                

                    .icon{
                        align-self: center;
                        font-size: 18px;
                    }

                
                }

            }  
            }
        }
    }
}
